button{
    @apply focus:outline-none;
    position: relative;
    overflow: hidden;
}

.btn{
    @apply rounded-full text-white flex items-center justify-center px-10 py-3;
    position: relative;
    overflow: hidden;
    transition: background 100ms;
}

.btn-primary{
    @apply bg-secondary hover:bg-green-light;
}

.text-link{
    @apply text-secondary hover:text-primary transition-all flex items-center gap-2 text-sm;
}